* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #000;
	line-height: 1.1;
	-webkit-text-size-adjust: 100%;
	background: #d5e5f5;
}

select,
input,
button {
	font-family: "Open Sans",
		sans-serif;
	outline: none;
}

img {
	max-width: 100%;
	outline: none;
	border: 0;
}




ul {
	margin: 0;
	list-style-type: none;
}

.wrapper {
	max-width: 970px;
	padding: 0 10px;
	margin: auto;
	position: relative;
}

section {
	position: relative;
}

.center {
	text-align: center;
}

.overflow {
	overflow: hidden;
}

.clear {
	display: table;
	clear: both;
}

.sec1 {
	background: #312b49 linear-gradient(110deg, #b68aae, #ceb1cc 45%, transparent 45%);
	padding: 55px 0 170px;
	color: #fff9e5;

}



.sec1::after {
	content: "";
	background: url(../images/product_1.png) no-repeat;
	position: absolute;
	left: 50%;
	top: 280px;
	height: 608px;
	width: 500px;
	transform: translateX(-50%);
	background-size: contain;
	z-index: 3;
  	margin-left: 50px;
}

.sec1 .wrapper::before {
	content: "";
	background: radial-gradient(circle,
			rgba(146, 110, 255, 0.6),
			transparent 60%);
	width: 600px;
	height: 600px;
	top: 160px;
	position: absolute;
	right: 0;
}

.sec1__girl {
	position: absolute;
	left: -875px;
	pointer-events: none;
	top: -72px;
}

.sec1__girl img {
	max-width: none;
}

.product-name {
	z-index: 5;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 180px;
	letter-spacing: -10px;
	text-shadow: 0 15px 5px rgba(82, 28, 132, 0.12);
}

.product-name .ben {
	position: relative;
	z-index: 1;
}

.sec1__left {
	float: left;
	width: 50%;
	font-size: 30px;
	font-weight: 700;
	padding-right: 230px;
	margin-bottom: 40px;
}

.sec1__left p {
	margin-bottom: 40px;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, .9)
}

.price {
	color: #ffdb00;
	text-align: right;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	position: relative;
	width: 500px;
}

.price__bg {
	background: #534879 linear-gradient(155deg, #554a7c, #15121e);
	padding: 15px 250px 15px 40px;
	border-radius: 100px;
	position: relative;
	z-index: 2;
}

.price::before {
	content: "";
	background: url(../images/btn-sdw.png) no-repeat;
	position: absolute;
	right: -150px;
	bottom: -110px;
	width: 482px;
	height: 167px;
	background-size: contain;
}

.price b {
	font-size: 43px;
	font-weight: 700;
	display: block;
}

.old__price {
	color: #c7c6ea;
	text-decoration: line-through;
	margin-bottom: 5px;
}

.old__price b {
	font-size: 20px;
	display: inline;
}

.sec1__right {
	float: right;
	width: 50%;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	padding-left: 270px;
	margin-bottom: 40px;
}

.sale {
	font-family: "Caveat", cursive;
	color: #332c4b;
	text-align: center;
	background: url(../images/discount_1.png) no-repeat;
	width: 150px;
	height: 140px;
	background-size: contain;
	font-size: 23px;
	float: right;
	line-height: 0.7;
	padding: 32px 10px;
	margin-bottom: 60px;
	margin-right: 40px;
}

.sale::after {
	content: "";
	display: table;
	clear: both;
}

.sale__amount {
	font-weight: 700;
	display: block;
	font-size: 72px;
	margin-top: 5px;
}

.sec1__list-item {
	text-align: left;
	position: relative;
	padding-left: 37px;
	margin-bottom: 20px;
}

.sec1__list-item::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	width: 27px;
	height: 27px;
	background-position: -50px -50px;
	position: absolute;
	top: 0;
	left: 0;
}

.btn {
	border-radius: 100px;
	text-transform: uppercase;
	color: #fff;
	background: #d40a69;
	font-weight: 700;
	padding: 24px 50px;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	border: 0;
	position: relative;
	z-index: 4;
	font-size: 19px;
	box-shadow: 0px 7px 27px 0 rgba(255, 0, 107, 0.4);
	transition: 0.4s;
}

.btn:hover {
	background: #c0065d;
	box-shadow: 0px 7px 10px 0 rgba(255, 0, 107, 0.2);
}

.sec2 {
	padding: 80px 0 160px;
	margin-top: -90px;
}

.sec2 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(5deg);
	overflow: hidden;
}

.sec2 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(-5deg);
	z-index: 0;

}

.sec2 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: url('../images/sec2__bg.jpg') no-repeat center/cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.sec2__list {
	font-size: 0;
	text-align: center;
}

.sec2__item {
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
	font-size: 20px;
	padding: 0 60px;
}

.sec2__item span {
	color: #826bc4;
	font-weight: 700;
}

.sec2__item:first-child {
	padding: 0 80px;
}

.sec2__item:first-child,
.sec2__item:last-child {
	padding-top: 150px;
}

.sec2__item-img {
	width: 155px;
	height: 155px;
	position: relative;
	background: linear-gradient(#f3f6fd, #e1eaf5);
	border-radius: 50%;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: 0 19px 16px -7px rgba(0, 0, 0, 0.15);
}

.sec2__item-img::before {
	content: "";
	width: 145px;
	height: 145px;
	background: #f3f6fd;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.sec2__item .sec2__item-img::after {
	content: "";
	position: absolute;
	bottom: 0;
}

.sec2__item:first-child .sec2__item-img::after {
	background: url(../images/spr_1.png) no-repeat;
	width: 154px;
	height: 157px;
	background-position: -50px -177px;
	left: -9px;
	bottom: -1px;
}

.sec2__item:nth-child(2) .sec2__item-img::after {
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -434px;
	left: -9px;
	width: 162px;
	height: 158px;
	bottom: -1px;
}

.sec2__item:nth-child(3) .sec2__item-img::after {
	background: url(../images/spr_1.png) no-repeat;
	background-position: -94px -692px;
	left: 5px;
	width: 145px;
	height: 145px;
	bottom: 5px;
	border-radius: 50%;
}

.sec2__product {
	position: relative;
	text-align: center;
}

.sec2__product img {
	position: relative;
}

.sec2__product::before {
	content: "";
	background: url(../images/sec2__arrow-grey_1.png) no-repeat;
	position: absolute;
	top: -114px;
	left: 45%;
	transform: translateX(-50%);
	width: 575px;
	height: 319px;
	background-size: contain;
}

.sec2__leaves span {
	position: absolute;
}

.sec2__leave-bottom-left {
	background: url(../images/spr_1.png) no-repeat;
	bottom: 200px;
	left: 160px;
	width: 52px;
	height: 68px;
	background-position: -50px -951px;
}

.sec2__leave-bottom-right {
	background: url(../images/spr_1.png) no-repeat;
	bottom: 130px;
	right: 260px;
	z-index: 1;
	width: 68px;
	height: 98px;
	background-position: -50px -1119px;
}

.sec2__leave-top-right {
	background: url(../images/spr_1.png) no-repeat;
	top: 250px;
	right: 10px;
	width: 46px;
	height: 54px;
	background-position: -50px -1509px;
}

.sec2__leave-top-left {
	background: url(../images/spr_1.png) no-repeat;
	top: -20px;
	left: 70px;
	width: 137px;
	height: 92px;
	background-position: -50px -1317px;
}

.sec2__ritual {
	font-size: 50px;
	font-family: "Caveat",
		cursive;
	font-weight: 700;
	color: #c0065d;
	position: absolute;
	right: 11px;
	bottom: 350px;
	max-width: 320px;
	line-height: 0.6;
	text-align: center;
	transform: rotate(-20deg);
	padding-top: 23px;
}

.sec2__ritual::before {
	content: "";
	background: url(../images/sec2__arrow-pink.png) no-repeat;
	width: 637px;
	height: 331px;
	position: absolute;
	left: -140px;
	top: -121px;
	z-index: 1;
}

.sec3 {
	padding-bottom: 250px;
	color: #fff;
	z-index: 1;
	padding-top: 250px;
	margin-top: -170px;
}

.sec3 .wrapper::before {
	content: "";
	background: url(../images/sec3__woman_1.png)no-repeat;
	position: absolute;
	right: -260px;
	top: 50%;
	transform: translateY(-50%);
	width: 1287px;
	height: 856px;
}

.sec3 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(-5deg);
	overflow: hidden;
}

.sec3 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(5deg);
	z-index: 0;

}

.sec3 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: url('../images/sec3__bg.jpg') no-repeat center/cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}


.sec3__triangle-bottom-bg {
	position: absolute;
	left: 50%;
	bottom: -170px;
	width: 1500px;
	height: auto;
	transform: translateX(-50%);
}

.sec3__title {
	font-size: 48px;
	color: #ffdb00;
	text-transform: uppercase;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	line-height: 1;
	letter-spacing: -1px;
}

.sec3__triagle-top {
	position: relative;
	top: -144px;
}

.sec3__triagle-top-text,
.sec3__triangle-bottom-text {
	position: relative;
	z-index: 1;

}

.sec3__triagle-top-text {
	max-width: 390px;
}

.sec3__triangle-bottom-text {
	text-align: right;
	padding-left: 270px;
}

.sec3__title b {
	letter-spacing: -3px;
	font-size: 100px;
	display: block;
}

.sec3__triangle-top-bg {
	position: absolute;
	left: 50%;
	top: -170px;
	width: 1500px;
	height: auto;
	transform: translateX(-50%);
}

.sec3__cursive {
	color: #d40a69;
	font-size: 36px;
	font-weight: 700;
	font-family: "Caveat",
		cursive;
	transform: rotate(-22deg);
	max-width: 470px;
	text-shadow: 1px 1px 0 #fff,
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff;
	line-height: .95;
	margin-bottom: 70px;
}

.sec4 {
	padding: 100px 0 50px;
	z-index: 3;
	margin-top: -170px;
}

.sec4 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(5deg);
	overflow: hidden;
}

.sec4 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(-5deg);
	z-index: 0;

}

.sec4 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.sec4 .wrapper {
	padding-left: 360px;
}

.sec4 .wrapper::before {
	content: "";
	background: url(../images/sec4__doc_1.png) no-repeat;
	position: absolute;
	left: -560px;
	bottom: -17px;
	width: 1385px;
	height: 1076px;
	transform: rotate(5deg);
}

.sec4__title {
	font-size: 100px;
	font-weight: 700;
	color: #4f4473;
	text-transform: uppercase;
	line-height: 0.9;
	margin-bottom: 30px;
}

.sec4__posttiltle {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #d40a69;
	line-height: 1;
	margin-bottom: 50px;
}

.sec4 p {
	margin-bottom: 30px;
	line-height: 1.3;
}

.sec4 p.sec4__docname {
	font-family: "Caveat", cursive;
	color: #3434c3;
	font-size: 36px;
	line-height: 0.7;
	margin-top: 40px;
	position: relative;
	display: inline-block;
	padding-right: 180px;
}

.sec4__docname span {
	display: block;
}

.sec4__docname::after {
	content: "";
	background: url(../images/signature.png) no-repeat;
	width: 163px;
	height: 178px;
	position: absolute;
	right: 0;
	top: -41px;
}

.sec5 {
	z-index: 1;
	padding-top: 100px;
}

.sec5 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(-5deg);
	overflow: hidden;
}

.sec5 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(5deg);
	z-index: 0;

}

.sec5 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: url('../images/sec5__bg.jpg') no-repeat center/cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.sec5 .wrapper::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	position: absolute;
	background-position: -50px -1509px;
	top: 70px;
	left: 20px;
	width: 46px;
	height: 54px;
}

.sec5 .wrapper::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1119px;
	position: absolute;
	bottom: 80px;
	right: 20px;
	width: 68px;
	height: 98px;
}

.sec5__list {
	font-size: 0;
	text-align: center;
}

.sec5__list::before {
	content: "";
	background: linear-gradient(transparent 60%, rgba(255, 255, 255, 0.5));
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 460px;
	height: 460px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.sec5__list::after {
	content: "";
	background: url(../images/product-alone.png) no-repeat;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 378px;
	height: 452px;
	background-size: contain;
}

.sec5__item {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	font-size: 18px;
	position: relative;
	z-index: 1;
}

.sec5__title {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	color: #d40a69;
	margin-bottom: 130px;
	line-height: 1;
}

.sec5__item {
	position: relative;
	text-align: left;
	margin-bottom: 65px;
}

.sec5__item:nth-child(odd) {
	text-align: right;
}

.sec5__item:nth-child(1) {
	padding-right: 160px;
}

.sec5__item:nth-child(2) {
	padding-left: 160px;
}

.sec5__item:nth-child(3) {
	padding-right: 240px;
	margin-bottom: 60px;
}

.sec5__item:nth-child(4) {
	padding-left: 240px;
	margin-bottom: 60px;
}

.sec5__item:nth-child(5) {
	padding-right: 200px;
}

.sec5__item:nth-child(6) {
	padding-left: 200px;
}

.sec5__item:last-child {
	text-align: center;
	padding-right: 0;
	margin-top: -125px;
}

.sec5__item b {
	display: inline-block;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	color: #ffdb00;
	background: linear-gradient(to right, #6754af, rgba(103, 84, 175, 0.5));
	border-radius: 100px 0 0 100px;
	padding: 5px 24px 5px 12px;
	margin-bottom: 10px;
	text-align: left;
}

.sec5__item:nth-child(even) b {
	text-align: right;
	background: linear-gradient(to left, #6754af, rgba(103, 84, 175, 0.5));
	border-radius: 0 100px 100px 0;
	padding: 5px 12px 5px 24px;
}

.sec5__item:last-child b {
	background: linear-gradient(to left,
			rgba(103, 84, 175, 0.5),
			#6754af,
			rgba(103, 84, 175, 0.5));
	padding: 5px 24px;
	border-radius: 100px;
}

.sec5__item p {
	padding-right: 24px;
}

.sec5__item:nth-child(even) p {
	padding-right: 0;
	padding-left: 24px;
}

.sec5__item:last-child p {
	padding: 0;
}

.sec5__img {
	position: absolute;
	border-radius: 50%;
	width: 115px;
	height: 115px;
	background: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
	top: -30px;
	box-shadow: 0 19px 16px -7px rgba(0, 0, 0, 0.15);
}

.sec5__img::before {
	content: "";
	position: absolute;
	left: 50%;
	border-radius: 50%;
	width: 105px;
	height: 105px;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
}

.sec5__item:nth-child(1) .sec5__img {
	right: 60px;
}

.sec5__item:nth-child(2) .sec5__img {
	left: 60px;
}

.sec5__item:last-child .sec5__img {
	margin: auto;
	margin-bottom: 15px;
	position: relative;
	right: auto;
	left: auto;
	top: auto;
}

.sec5__item:nth-child(3) .sec5__img {
	right: 140px;
}

.sec5__item:nth-child(4) .sec5__img {
	left: 140px;
}

.sec5__item:nth-child(5) .sec5__img {
	right: 100px;
}

.sec5__item:nth-child(6) .sec5__img {
	left: 100px;
}

.sec5__img::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1663px;
	width: 118px;
	height: 130px;
}

.sec5__item:nth-child(1) .sec5__img::after {
	left: 42%;
}

.sec5__item:nth-child(2) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -1893px;
	width: 99px;
	height: 148px;
	left: 55%;
	top: 33%;
}

.sec5__item:nth-child(3) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -2141px;
	width: 163px;
	height: 129px;
	left: 81%;
	top: 33%;
}

.sec5__item:nth-child(4) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -2370px;
	width: 132px;
	height: 152px;
	left: 40%;
	top: 23%;
}

.sec5__item:nth-child(5) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -2622px;
	width: 164px;
	height: 107px;
	left: 59%;
	top: 48%;
}

.sec5__item:nth-child(6) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -2829px;
	width: 114px;
	height: 103px;
	left: 61%;
	top: 46%;
}

.sec5__item:nth-child(7) .sec5__img::after {
	background-image: url(../images/spr_1.png);
	background-position: -50px -3032px;
	width: 161px;
	height: 118px;
	left: 56%;
	top: 45%;
}

.sec5__slogan {
	font-family: "Caveat", cursive;
	color: #000;
	font-weight: 700;
	font-size: 36px;
	transform: rotate(-11deg);
	text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
	margin: auto;
	max-width: 390px;
	margin-top: 0px;
	text-align: center;
	position: relative;
	top: -65px;
	line-height: 0.8;
}

.sec6 {
	background: url('../images/sec6__bg.jpg') no-repeat center/cover;
	color: #fff;
	padding: 200px 0 140px;
	margin-top: -110px;
}

.sec6 .wrapper::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1119px;
	position: absolute;
	left: -150px;
	top: 330px;
	width: 68px;
	height: 98px;
}

.sec6 .wrapper::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1509px;
	position: absolute;
	right: -30px;
	bottom: 380px;
	width: 45px;
	height: 54px;
}

.sec6__posttitle {
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 95px;
}

.sec6__list {
	font-size: 0;
	margin-bottom: 20px;
}

.sec6__item {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	position: relative;
	text-align: center;
}

.sec6__result {
	position: absolute;
	font-size: 22px;
	text-transform: uppercase;
	width: 120px;
	display: table;
	top: -40px;
	font-weight: 700;
	right: 0;
	height: 120px;
	border-radius: 50%;
	border: 4px solid #d6146f;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.sec6__result div {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

.sec6__result b {
	position: absolute;
	transform: rotate(-15deg);
	color: #ffdb00;
	font-family: "Caveat", cursive;
	font-size: 43px;
	text-transform: lowercase;
	left: -15px;
	top: -45px;

}

.sec6__result span {
	white-space: nowrap;

}

.sec6__slogan {
	font-family: "Caveat", cursive;
	color: #d6146f;
	font-weight: 700;
	font-size: 60px;
	text-align: right;
}

.sec7 {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 2;
	margin-top: -90px;
}

.sec7 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(5deg);
	overflow: hidden;
}

.sec7 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(-5deg);
	z-index: 0;

}

.sec7 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 130%;
	background: url('../images/sec7__bg.jpg') no-repeat center/cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.sec7__title {
	font-size: 48px;
	font-weight: 700;
}

.sec7__list {
	font-size: 0;
}

.sec7__item {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	font-size: 22px;
	position: relative;
	padding: 0 15px;
}

.sec7__img {
	margin-bottom: 20px;
	min-height: 300px;
}

.sec7__item:nth-child(2) img {
	position: relative;
	bottom: -55px;
	right: -50px;
}

.sec7__item:nth-child(3) img:nth-child(1) {
	position: relative;
	right: -60px;
}

.sec7__item:nth-child(1) img {
	position: relative;
	bottom: -49px;
}

.sec7__img-prod {
	position: absolute;
	bottom: 65px;
	left: 20px;
}

.sec7__img::before {
	content: "";
	top: 90px;
	position: absolute;
	z-index: 1;
}

.sec7__item:nth-child(1)::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1317px;
	width: 137px;
	height: 92px;
	position: absolute;
	top: -140px;
	left: 70px;
}

.sec7__item:nth-child(1)::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -951px;
	width: 52px;
	height: 68px;
	position: absolute;
	bottom: -100px;
	left: 220px;
}

.sec7__item:nth-child(2)::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1119px;
	width: 68px;
	height: 98px;
	position: absolute;
	top: 190px;
	right: -3px;
}

.sec7__item:nth-child(3)::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1509px;
	width: 46px;
	height: 54px;
	position: absolute;
	top: 70px;
	right: 10px;
	z-index: 1;
}

.sec7__item:nth-child(1) .sec7__img::before {
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -3403px;
	width: 138px;
	height: 235px;
	left: 30px;
}

.sec7__item:nth-child(2) .sec7__img::before {
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -3738px;
	width: 180px;
	height: 239px;
	left: 0;
}

.sec7__item:nth-child(3) .sec7__img::before {
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -4077px;
	width: 189px;
	height: 239px;
	left: -30px;
}

.sec7__item p b {
	color: #7b47b4;
	font-weight: 700;
	display: block;
}

.sec8 {
	background: url(../images/sec8__bg.jpg) no-repeat left center;
	margin-top: -105px;
	padding-top: 235px;
	padding-bottom: 150px;
	margin-bottom: -90px;
}

.sec8 .wrapper::before {
	content: "";
	background: url(../images/sec8__girl_1.png) no-repeat;
	position: absolute;
	right: -160px;
	bottom: -65px;
	width: 571px;
	height: 953px;
	z-index: 2;
}

.sec8 .wrapper::after {
	content: "";
	background: url(../images/product-alone-big_1.png) no-repeat;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 64%;
	top: 49%;
	width: 584px;
	height: 715px;
}

.sec8 .product-name {
	position: relative;
	z-index: 1;
}

.sec8__posttitle {
	font-size: 80px;
	font-weight: 700;
	font-family: "Caveat", cursive;
	color: #d40a69;
	text-shadow: 0 0 10px #fff;
	transform: rotate(-15deg);
	position: absolute;
	left: 47px;
	bottom: calc(100% - 20px);
	text-transform: none;
	letter-spacing: 0;
}

.sec8__list {
	padding-right: 450px;
	position: relative;
	z-index: 1;
}

.sec8__item {
	font-size: 18px;
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.63);
	border-radius: 100px;
	padding: 20px 110px 20px 40px;
	line-height: 1.3;
	font-weight: 700;
	position: relative;
}

.sec8__item:nth-child(1) {
	margin-left: 20px;
	margin-right: 100px;
}

.sec8__item:nth-child(2) {
	margin-right: 70px;
}

.sec8__item:nth-child(3) {
	margin-left: 60px;
	margin-right: 35px;
}

.sec8__item:nth-child(4) {
	margin-left: 110px;
}

.sec8__item b {
	color: #9482cc;
}

.sec8__img {
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5),
		0 10px 10px 0 rgba(0, 0, 0, 0.5);

	border-radius: 50%;
	background-color: #8d78c2;
	width: 115px;
	height: 115px;
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	background-image: url(../images/spr_1.png);
	background-repeat: no-repeat;
	background-position: -37px -5518px
}

.sec8__item:nth-child(2) .sec8__img {
	background-image: url(../images/spr_1.png);
	background-position: -31px -5691px
}

.sec8__item:nth-child(3) .sec8__img {

	background-image: url(../images/spr_1.png);
	background-position: -20px -5863px;
}

.sec8__item:nth-child(4) .sec8__img {
	background-image: url(../images/spr_1.png);
	background-position: -22px -6040px
}

.sec8__img::before {
	content: "1";
	background: #ffdb00;
	color: #000;
	font-family: "Caveat", cursive;
	font-weight: 700;
	border-radius: 50%;
	width: 29px;
	height: 35px;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 33px;
	padding-right: 6px;
}

.sec8__item:nth-child(2) .sec8__img::before {
	content: "2";
}

.sec8__item:nth-child(3) .sec8__img::before {
	content: "3";
}

.sec8__item:nth-child(4) .sec8__img::before {
	content: "4";
}

.sec8__note {
	font-size: 24px;
	font-weight: 700;
	color: #fff9e5;

	margin-top: 65px;
	position: relative;
	margin-right: 280px;
	margin-left: 100px;
	line-height: 1.2;
}

.sec8__note div {
	position: relative;
	z-index: 1;
	background: linear-gradient(135deg, #554a7c 30%, #15121e 65%);
	border-radius: 100px;
	padding: 19px 70px 19px 31px;
}

.sec8__note::before {
	content: "";
	background: url(../images/btn-sdw.png) no-repeat;
	position: absolute;
	right: -100px;
	bottom: -92px;
	width: 672px;
	height: 167px;
}

.sec9 {
	padding-top: 100px;
	padding-bottom: 290px;
	z-index: 10;
}

.sec9 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(-5deg);
	overflow: hidden;
}

.sec9 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(5deg);
	z-index: 0;

}

.sec9 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: url(../images/sec9__bg2.jpg) no-repeat center /cover;
	position: absolute;
	top: -450px;
	left: 50%;
	transform: translateX(-50%);
}

.sec9 .wrapper::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -951px;
	width: 52px;
	height: 68px;
	position: absolute;
	bottom: 270px;
	left: 20px;
}

.sec9__title {
	color: #d40a69;
	text-align: center;
	line-height: 1;
	font-size: 48px;
	margin-bottom: 30px;
}

.sec9__title span {
	display: block;
}

.sec9__list {
	font-size: 0;
	position: relative;
}

.sec9__list::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1509px;
	width: 46px;
	height: 54px;
	position: absolute;
	bottom: -60px;
	right: 10px;
	z-index: 1;
}

.sec9__item {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 5%;
	font-size: 16px;
}

.sec9__item:last-child {
	margin-right: 0;
}

.inst {
	background: #fff;
	box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.15);
}

.inst__header {
	padding: 8px 20px 8px 13px;
	font-size: 13px;
	position: relative;
}

.inst__header::after {
	content: "";
	display: table;
	clear: both;
}

.inst__header::before {
	content: "";
	position: absolute;
	right: 13px;
	top: 49%;
	background: linear-gradient(to right,
			#000 0,
			#000 3px,
			#fff 0,
			#fff 5px,
			#000 0,
			#000 8px,
			#fff 0,
			#fff 10px,
			#000 0,
			#000 13px);
	width: 13px;
	height: 3px;
}

.inst__ava {
	display: inline-block;
	vertical-align: middle;
	padding-right: 8px;
	width: 25%;
	max-width: 39px;
}

.inst__ava img {
	border-radius: 50%;
}

.inst__name {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	width: 75%;
}

.inst__body {
	padding: 8px 13px;
	line-height: 1.4;
	min-height: 440px;
}

.inst__likes {
	font-weight: 700;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.inst__tags {
	color: #032f94;
	margin-top: 8px;
	margin-bottom: 20px;
}

.inst__footer {
	text-transform: uppercase;
	color: #999999;
	font-size: 10px;
	padding: 8px 13px 15px 13px;
}

.smile-in-love {
	background-image: url(../images/spr_1.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: baseline;
	width: 19px;
	height: 19px;
	background-position: -50px -6224px;
}

.smile-wink {
	background-image: url(../images/spr_1.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: baseline;
	width: 22px;
	height: 22px;
	background-position: -50px -6343px;
}

.sec9__bottom {
	position: relative;
}

.sec9__bottom::before {
	content: "";
	background: linear-gradient(transparent 60%, rgba(255, 255, 255, 0.5));
	border-radius: 50%;
	position: absolute;
	bottom: -320px;
	left: 50%;
	transform: translateX(-50%);
	width: 1150px;
	height: 1150px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.sec9 .product-name {
	font-size: 140px;
}

.sec9__table {
	font-size: 0;
	position: relative;
}

.sec9__table::before {
	content: "";
	background: url(../images/product-alone.png) no-repeat;
	background-size: contain;
	width: 490px;
	height: 610px;
	position: absolute;
	top: -130px;
	left: 50%;
	transform: translateX(-50%) rotate(25deg);
}

.sec9__table::after {
	content: "";
	display: table;
	clear: both;
}

.sec9__table-left {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 24px;
	color: #3d346f;
	text-transform: uppercase;
}

.sec9__arrow {
	position: relative;
	z-index: 1;
	font-weight: 700;
}

.sec9__arrow svg {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
}

.sec9__arrow p {
	max-width: 370px;
	text-align: right;
	position: relative;
	z-index: 1;
	padding: 85px 0;
	padding-left: 100px;
}

.sec9__table-right {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 22px;
	line-height: 1.3;
	position: relative;
	color: #7d6ab1;
	text-align: center;
	font-weight: 700;
}

.sec9__circle {
	display: table;
	width: 320px;
	min-height: 320px;
	background: rgba(255, 255, 255, 0.63);
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	float: right;
	position: relative;
}

.sec9__circle::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1119px;
	width: 65px;
	height: 98px;
	position: absolute;
	bottom: -64px;
	left: 29%;
}

.sec9__circle span {
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
}

.label {
	background: url(../images/discount2.png) no-repeat;
	width: 109px;
	height: 140px;
	position: absolute;
	right: 215px;
	top: 116px;
	color: #fff;
	text-align: center;
	padding-top: 57px;
	line-height: 1;
	font-size: 16px;
}

.label::before {
	content: "";
	background: url(../images/sec9__circle-arrow.png) no-repeat;
	width: 97px;
	height: 62px;
	position: absolute;
	right: -71px;
	top: 66px;
}

.label i {
	font-family: "Caveat", cursive;
	transform: rotate(-18deg);
	display: block;
	max-width: 85px;
}

.label b {
	color: #ffdb00;
	display: block;
	transform: rotate(-26deg);
	font-size: 29px;
	max-width: 100px;
}

.sec10 {
	padding-top: 100px;
	background-size: cover;
	margin-top: -170px;
	padding-bottom: 170px;
	margin-bottom: -90px;
	z-index: 11;
}

.sec10 .skew {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	transform: skewY(5deg);
	overflow: hidden;
}

.sec10 .skew_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewY(-5deg);
	z-index: 0;

}

.sec10 .skew_img:before {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	background: url('../images/sec10__bg.jpg') no-repeat center/cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.sec10 .wrapper::before {
	content: "";
	background: url(../images/sec10__girl_1.png) no-repeat;
	position: absolute;
	bottom: -90px;
	right: -200px;
	width: 665px;
	height: 961px;
	z-index: 6;
}

.sec10 .product-name {
	position: relative;
	z-index: 5;
}

.sec10 .product-name::before {
	content: "";
	background: url(../images/spr_1.png);
	background-position: -50px -1509px;
	width: 137px;
	height: 92px;
	position: absolute;
	top: -100px;
	left: 30px;
}

.sec10 .product-name::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1509px;
	width: 46px;
	height: 54px;
	position: absolute;
	bottom: 10px;
	right: -80px;
	z-index: 4;
}


.form {
	position: relative;
	z-index: 1;
	height: 560px;
	width: 560px;
	margin-left: -113px;
}

.form::after {
	content: "";
	background: url(../images/product-alone-big_1.png);
	position: absolute;
	top: -40px;
	left: 420px;
	width: 584px;
	height: 715px;
	z-index: 2;

}

.form__inner {
	padding: 35px;
	border-radius: 50%;
	box-shadow: -5px 12px 18px -6px rgba(0, 0, 0, 0.2);

	position: relative;
	z-index: 2;
}

.form__inner::before {
	content: "";
	background: url(../images/cloud.png) no-repeat;
	position: absolute;
	width: 883px;
	height: 504px;
	top: -170px;
	left: 50%;
	transform: translateX(-50%)
}

form {
	height: 490px;
	width: 490px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: -5px 12px 18px -6px rgba(0, 0, 0, 0.2);
	background: linear-gradient(108deg, #fff, #fff 80%, transparent 0);
	padding-top: 80px;
	position: relative;
}

form::before {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -1119px;
	width: 68px;
	height: 98px;
	position: absolute;
	top: -27px;
	left: 30px;
}

form::after {
	content: "";
	background: url(../images/spr_1.png) no-repeat;
	background-position: -50px -951px;
	width: 52px;
	height: 68px;
	position: absolute;
	bottom: -0;
	left: 50px;
}

.form__title {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-size: 31px;
	color: #816fbc;
	margin-bottom: 20px;
}

input,
select {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid #b48fb1;
	border-radius: 100px;
	height: 55px;
	line-height: 55px;
	color: rgba(0, 0, 0, 0.43);
	font-size: 16px;
	width: 295px;
	padding: 0 25px;
}

input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.43)
}

input::-moz-placeholder {
	color: rgba(0, 0, 0, 0.43)
}

input:-moz-placeholder {
	color: rgba(0, 0, 0, 0.43)
}

input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.43)
}

input:focus {
	background: #e2c2df;
	border-color: #e2c2df;
}

input:focus::-webkit-input-placeholder {
	color: #000;

}

input:focus::-moz-placeholder {
	color: #000;

}

input:focus:-moz-placeholder {
	color: #000;

}

input:focus:-ms-input-placeholder {
	color: #000;

}

select::-ms-expand {
	display: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;

	background: #fff url(../images/sel.png) no-repeat 92% 50%;
}

form .btn {
	display: block;
	margin: auto;
	width: 290px;
	padding-left: 20px;
	padding-right: 20px;
}

.sec10 .sale {
	position: absolute;
	z-index: 3;
	right: 464px;
	bottom: -80px;
	margin-right: 0;
}

.sec10 .price {
	position: absolute;
	z-index: 3;
	right: 131px;
	top: 170px;
	width: auto;
}

.sec10 .price__bg {
	background: #af5d97 linear-gradient(155deg, #b8629e, #2f1928);
	padding: 15px 120px 15px 70px;
	border-radius: 100px;
	position: relative;
	z-index: 2;
	display: block;
}

.sec10 .price::before {
	right: -180px;
}